body{
    margin: 0;
    font-family: sans-serif;
    background: #f2f2f2;
}

p{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

.card{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.content{
    width: 20%;
    margin: 10px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    transition: .4s;
    background: #f2f2f2;
}

.content:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px)
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
   
   
}

li{
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 20px;
    transition: .4s;
    padding-top: 20px;
    
}

.available{
    color: green;
}

.not-available{
    color: red;
}

/*li:hover{
    transform: scale(1.3);
    transition: .6s;
}*/

button{
    text-align: center;
    margin-top: 5px;

    background: rgb(24, 23, 23);
}

@media(max-width:1000px){
    .content{
        width: 45%;
    }
}

@media(max-width:750px){
    .content{
        width: 65%;
    }
}